*{
    margin: 8px;
    padding: 0px;
}

body{

    background-image: linear-gradient(#20CCD1, #25EEF5, #23E1E8, #19A4A8);
    
}

header{

  background-image: linear-gradient(#C4F1F2, #62D3D6,#9BE8EB, #67D2D6 );
    text-align: center; 
    font-family: Solitreo;
    
    padding-top: 10px;
    font-weight: bold;
    font-size: 2em;
}

header > h1{

        text-shadow:2px 2px 1px rgb(13, 13, 13);
        color: white;
        
        margin-bottom: 0px;
      
}

.slogan{

    color: white;
    text-shadow: 2px 2px 0px black;
}
nav{
    background-image: linear-gradient(#C4F1F2, #62D3D6,#9BE8EB, #67D2D6 );

    padding: 15px;
     
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
   
      
}

nav >a{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    color: rgb(12, 12, 12);
    transition: .5s;
   
    
}

nav >a:hover{
    background-color:#D0DCEB;
    border-radius: 5px;
}

main{

    background-color: #d0dcebbe;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    min-width: 300px;
    max-width: 1000px;
    display: block;
    margin: auto;
    font-family: Solitreo;
    box-shadow: 2px 2px 0px white;

}

main p{
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;

    
}

main h2 {
    
  padding: 20px;
 


}

.imagem1{
    min-width: 150px;
    max-width: 8000px;
    display: block;
  margin: auto;
    
   
}

footer{
    text-align: center;
    background-color: #19A4A8;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin-top: 20px;
    margin-bottom: 20PX;
   
 
}

.container{
    border: 2px solid red;
    display: flex-box;
   
    

    
   
  }

.sueli {
     margin: 5px;
     margin-bottom: ;
     margin-top: ;
     margin-right:10px ;
    border: 2px solid red;      
    border-radius: 10px;
   
  }

  .rosi {
  
    border: 2px solid red;   
    border-radius: 10px;
 
  }

  .jamerson {
  
    border: 2px solid red;   
    border-radius: 10px;
   
  }

  .pepe {
  
    border: 2px solid red;    
    border-radius: 10px;

  }

  .texto{
    height: 60px;
    border: 1px solid white;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
   
  }

  .texto:hover{
    background-color: #C4F1F2;
    transition: .3s;

  }
  

  
 

  

 


