*{
    margin: 8px;
    padding: 0px;
}

body{

    background-color:  #22679A  ;
    
}

header{

    background-image: linear-gradient(#1F447B, #22679A, #1D86B1, #60B0C8 );
    text-align: center; 
    font-family: Solitreo;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 40px;  
    height: 190px;
    border-radius: 10px;
   
  
    
}

header > h1{

        text-shadow:2px 2px 1px rgb(13, 13, 13);
        color: white;        
        margin-bottom: 0px;
      
}

header p{
    color: white;   
    font-size: 0.8em;
   max-width: 600px;
   margin: auto;
   padding-bottom: 50px;   
   padding-right: 10px;
   padding-left: 10px;
   text-shadow: 2px 2px 0px black;

}



.slogan{

    color: white;
    text-shadow: 2px 2px 0px black;    
    display: block;
    margin: auto;
}


nav{
    background-image: linear-gradient(#1F447B, #22679A, #1D86B1, #60B0C8  );
    padding: 15px;     
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
   
      
}

nav >a{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    color: rgb(12, 12, 12);
    transition: .5s;
    font-size:15px;
    
   
    
}

nav >a:hover{
    background-color:#D0DCEB;
    border-radius: 5px;
    opacity: 0.7;
}

main{

    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    min-width: 320px;
    max-width: 800px;
    display: block;
    margin: auto;
    font-family: Solitreo;
    box-shadow: 2px 2px black ;

}

main p{
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;

    
}

main h2 {
    
  padding: 20px;
 


}

.imagem1{
   
    display: block;
    margin: auto;
    
   
}

footer{
    text-align: center;
    background-color:;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin-top: 20px;
    margin-bottom: 20PX;
   
 
}

.container{
 
    display: flex-box;
   
    

    
   
  }

.sueli {
     margin: 5px;
     margin-bottom: ;
     margin-top: ;
     margin-right:10px ;
         
    border-radius: 10px;
   
  }

  .rosi {
  
    
    border-radius: 10px;
 
  }

  .jamerson {
  
    
    border-radius: 10px;
   
  }

  .pepe {
  
     
    border-radius: 10px;

  }

  .texto{
    height: 60px;
    border: 1px solid white;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px black;
   
  }

  .texto:hover{
    background-color: #C4F1F2;
    transition: .3s;

  }

  footer{
    text-align: center;
    background-image: linear-gradient(#1F447B, #22679A, #1D86B1, #60B0C8 );
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    width: 42%;
    margin: auto;
    border-radius: 10px;
   
 
}
  

  
 

  

 


